.soups
  %h3= 'Soups'
  %ul
    - menu_days.dishes.soup.each do |soup|
      %li
        =soup.name
.main_dish
  %h3= 'Main'
  %ul
    - menu_days.dishes.main_dish.each do |main_dish|
      %li
        =main_dish.name
.beverage
  %h3= 'Beverages'
  %ul
    - menu_days.dishes.beverage.each do |beverage|
      %li
        =beverage.name