.container
  .row.row-cols-auto
    .col
      .card{:style => "width: 18rem;"}
        %img.card-img-top{:alt => "", :src => ""}
        .card-body
          %h5.card-title name
          %p.card-text subscribe
          %a.btn.btn-primary{:href => "#"} Buy
    .col
      .card{:style => "width: 18rem;"}
        %img.card-img-top{:alt => "", :src => ""}
        .card-body
          %h5.card-title name
          %p.card-text subscribe
          %a.btn.btn-primary{:href => "#"} Buy
    .col
      .card{:style => "width: 18rem;"}
        %img.card-img-top{:alt => "", :src => ""}
        .card-body
          %h5.card-title name
          %p.card-text subscribe
          %a.btn.btn-primary{:href => "#"} Buy